* { 
    margin: 0;
    padding: 0;
}

:root {
    --background-color: #121212;
    --color-text: white;
    --background-color-hover: white;
}

.light-theme {
    --background-color: white;
    --color-text: black;
    --background-color-hover: #b6cccc;
}

body {
    background-color: var(--background-color);
    font-family: sans-serif;
}

nav {
    color: var(--color-text);
    flex: 1;
    text-align: right;
    margin-top: 0;
    
}

#icon {
    width: 25px;
    cursor: pointer;
}

.avatar {
    border-radius: 50%;
    width: 320px;
    height: 320px;
    border: 3px solid var(--background-color);
}

.avatar:hover {
    border: 2px solid #4078c0;
}

h1 {
    color: var(--color-text);
    margin-top: 31px;
    margin-bottom: 8px;
}

p {
    color: var(--color-text);
}

ul {
    margin-top: 35px;
}

li {
    margin-bottom: 18px;
    list-style: none; /* Remove as bolinhas da lista*/
}

.li {
    background-color: #4078c0;
    font-weight: bold;
    color: var(--color-text);
    padding: 15px;
    text-decoration: none; /* Remove efeitos no texto */
    display: block; /* display como bloco ao invés de linha */
    border-radius: 5px;
}

.li:hover {
    background-color: var(--background-color-hover);
    color: #4078c0;
}

.footer {
    color:var(--color-text);
    text-decoration: none;
    display: block;
    margin-bottom: 18px;
}

.footer:hover {
    font-weight: bold;
}

.container { /* .NOME = indica que é uma classe*/
     width: 320px;
     text-align: center;
     margin-top: 41px;
     margin-left: auto; /* centraliza */
     margin-right: auto;
}